node_modules/
dist/
3d-assets/*
3d-assets/barrel/barrel.glb
3d-assets/gundy/license.txt
3d-assets/gundy/scene.bin
3d-assets/gundy/scene.gltf
3d-assets/gundy/textures/Canon_baseColor.png
3d-assets/gundy/textures/Canon_emissive.png
3d-assets/gundy/textures/Corps_baseColor.png
3d-assets/gundy/textures/Corps_metallicRoughness.png
3d-assets/gundy/textures/Corps_normal.png
3d-assets/gundy/textures/Torus_baseColor.png
3d-assets/gundy/textures/Torus_metallicRoughness.png
3d-assets/gundy/textures/Torus_normal.png
3d-assets/otter/otter.glb
3d-assets/otter-world/otter-world.glb
3d-assets/puma-tennari.jpg
3d-assets/scene.bin
3d-assets/scene.gltf
3d-assets/shoe.bin
3d-assets/shoe.gltf
3d-assets/WaterBottle_baseColor.png
3d-assets/WaterBottle_emissive.png
3d-assets/WaterBottle_normal.png
3d-assets/WaterBottle_occlusionRoughnessMetallic.png
3d-assets/hdr/kloppenheim_02_4k.hdr
3d-assets/scene2/puma-tennari.jpg
3d-assets/scene2/scene2.bin
3d-assets/scene2/scene2.gltf
3d-assets/scene2/WaterBottle_baseColor.png
3d-assets/scene2/WaterBottle_emissive.png
3d-assets/scene2/WaterBottle_normal.png
3d-assets/scene2/WaterBottle_occlusionRoughnessMetallic.png
puma-shoe/puma-tennari.jpg
puma-shoe/puma-tennari.mtl
puma-shoe/puma-tennari.obj
puma-shoe/*
